<aside id="nav_Bar">
    <div id="App_name">
        <i class="fa-sharp fa-solid fa-bugs"></i>
        <h4 style="display: inline;">Issue_Tracker</h4>
    </div>
   
    <!-- Logo For applicatoin -->
    
    
</aside>
