<aside id="nav_Bar">
    <div id="App_name">
        <i class="fa-sharp fa-solid fa-bugs"></i>
        <h4 style="display: inline;">Issue_Tracker</h4>
    </div>
   
    <!-- Logo For applicatoin -->
    <ul>
        
        <li><i class="fa-solid fa-house"></i>&nbsp;&nbsp;<a href="/">Home</a></li>
        <li><i class="fa-regular fa-plus"></i>&nbsp;&nbsp;<a href="/create-project">Create_Project</a></li>
        <li><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;Project_Details</li>
        <li><i class="fa-solid fa-bug"></i>&nbsp;&nbsp;Create_Issue</li>
    </ul>
    
</aside>
