<html>
    <head>
        <link rel="stylesheet" href="project_description.css">
        <link rel="stylesheet" href="Nav_Bar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <%-include('NavBar')%>
        <div class="main_Container">
            <div class="header">
                <h3>Bugs/Issues</h3>
                <button type="button"> <a href="/project-description">Create Issue</a></button>
            </div>
            <div class="filter">
                <!-- Filter by Author -->
                <!-- Filter through searching the title -->
                <!-- Filter by Project Name -->
            </div>
            <div class="table">
                <!-- bug Name -->
                <!-- status -->
                <!-- created -->
                <!-- Reporter -->
            </div>
        </div>
    </body>
</html>