*{
    padding:0;
    margin:0;
}


/* Nav Bar Log & Application Name  */
#App_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1%;
    margin:0 2%;
}

#App_name i {
    font-size: 30px;
    text-align: center;
}
#App_name h4{
    align-self: flex-end;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(235, 50, 112);  
}

/* CSS for Nav-Bar */

#nav_Bar{
    flex-basis: 10%;
    position: fixed;
    top:0px;
    left: 1%;
    display:flex;
    width: 98%;
    height: 66px;
    border-radius: 14px;
    color:white;
    background-color: rgb(58, 58, 63);
}

#nav_Bar a{
    text-decoration: none;
    color:white;
}
#nav_Bar > ul{
    align-self: center;
    width: 55%;
   list-style-type: none;
   display: flex;
   margin-left: 5%;
   justify-content: ;
   
}
#nav_Bar > ul li:hover{
    background-color:rgb(235, 50, 112);
    border-radius:14px;
}
#nav_Bar > ul li{
    display: flex;
    justify-content: center;
    padding:10px;
    width:120px;
}

